{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block page_title %}Nova tarefa{% endblock page_title %}

{% block content %}
    <div class="bg-white text-black p-4 rounded d-inline-block position-absolute top-50 start-50 translate-middle" style="min-width: 400px; width: 100%; max-width: 500px;">
        <h1 class="h3 text-center">Nova tarefa</h1>
        <br>
        <form method="POST">
            <div class="d-flex flex-column align-items-center gap-2">
                {% csrf_token %}
                {{ form|crispy }}
            </div>

            <div class="d-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-primary">Salvar tarefa</button>
            </div>
        </form>
    </div>
{% endblock content %}
