# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Media and static files
/media
/staticfiles

# Virtual environment
.env
.venv
env/
venv/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# .Git files
.git/
.gitignore
.gitattributes